<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/modify_pro" method="post">
    <div class="form-group email-form">
        <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="addr">주소:</label>
            <input type="text" class="form-control" id="addr" name="addr">
        </div>
        <label for="univ">학교이름:</label>
        <div class="input-group">
            <input type="text" class="form-control" name="univ" id="univ" placeholder="학교명">
        </div>
        <label for="major">전공과목:</label>
        <div class="input-group">
            <input type="text" class="form-control" name="major" id="major" placeholder="전공명">
        </div>
      <button type="submit" class="btn btn-primary">수정</button>
    </div>
</form>
</body>
</html>